{% if form.vars.autotranslated_data is defined %}
    <div class="ibexa-automated-translation-services-container" data-languages-mapping="{{ form.vars.autotranslated_data|json_encode|e('html_attr') }}">
        {% if form.translatorAlias.vars.choices is defined %}
            {# that is a select - then multiple providers #}
            <span class="ibexa-translation__title">{{ 'tab.translations.remote.translation.service'|trans()|desc('Use automatic translation') }}</span>
            <br/>
            {{ form_widget(form.translatorAlias) }}
        {% else %}
            {# that is a checkbox - then one provider #}
            <span class="ibexa-translation__title">{{ 'tab.translations.remote.translation.service.with'|trans({"%alias%":form.translatorAlias.vars.label})|desc('Use automatic translation with %s') }}</span>
            <div class="ibexa-field-edit ibexa-field-edit--ezboolean">
                <div class="ibexa-field-edit__data">
                    <div class="ibexa-data-source">
                        <label class="ibexa-data-source__label {% if form.translatorAlias.vars.checked %} is-checked {% endif %}">
                            <span class="ibexa-data-source__indicator"></span>
                            <input {% if form.translatorAlias.vars.checked %} checked="checked" {% endif %}
                                    type="checkbox" id="{{ form.translatorAlias.vars.id }}"
                                    name="{{ form.translatorAlias.vars.full_name }}"
                                    class="ibexa-input ibexa-input--checkbox" value="{{ form.translatorAlias.vars.value }}"
                            />
                        </label>
                        <div class="ibexa-automated-translation-error alert alert-info ibexa-alert ibexa-alert--info invisible" role="alert">
                            <svg class="ibexa-icon ibexa-icon--small ibexa-icon-warning">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/bundles/ibexaadminui/img/ibexa-icons.svg#warning"></use>
                            </svg>
                            {{ "Automatic translation is not setup for this language. Please contact the website administrator"|trans()|desc("Automatic translation is not setup for this language") }}
                        </div>
                    </div>
                </div>
            </div>

            {% do form.translatorAlias.setRendered %}
        {% endif %}
    </div>
{% endif %}
